# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/.pnp
.pnp.js
/backend/__pycache__/
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Môi trường ảo (virtual environment)
venv/
env/
ENV/
*.env

# Thư mục cài đặt của Django (nếu sử dụng pipenv)
Pipfile.lock

# Thư mục cài đặt của Django (nếu sử dụng poetry)
poetry.lock

# Cơ sở dữ liệu SQLite
db.sqlite3

# Tệp cấu hình Django
*.log

# Thư mục tạm thời của hệ điều hành
.DS_Store
Thumbs.db
