.find-table-container {
    background-color: #EDF5E9;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    font-family: 'Allerta';
    font-size: 20px;
}

.find-table-container img {
    border-radius: 20px;
}

.find-table-container h2 {
    font-family: 'Alkalami';
}

.form {
    margin-bottom: 20px;
}

.input {
    padding: 8px;
    margin-right: 10px;
}

/* From Uiverse.io by mi-series */
.button {
    width: 150px;
    margin-top: 20px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
}

.button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}

.button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}

.error {
    color: red;
}

.table-list {
    margin-top: 20px;
    font-size: 24px;
}

.table-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}