.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 5px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #49230C;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0 10px;
}

.footer-section {
    display: inline-block;
    min-width: 150px;
    max-width: 200px;
    margin: 0 10px;
}

.footer-section h3 {
    font-size: 1.2rem;
    color: #D4C7A5;
    margin-bottom: 5px;
}

.footer-section {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 5px;
    line-height: 1.4;
}

.footer-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0056b3;
}

.footer-bottom {
    margin-bottom: 60px;
    font-size: 0.8rem;
    color: #6c757d;
    border-top: 1px solid #ddd;
    padding-top: 0px;
}

.footer-bottom p {
    margin-bottom: 0px;
}

/* From Uiverse.io by Lokesh1379 */
.parent {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
}

.child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    right: 0px;
}

.child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

.social-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.social-button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
}