.search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #EDF5E9;
}

.search-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.search-container input:focus {
    border-color: #007bff;
    outline: none;
}

.search-container button {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform-origin: center;
    text-decoration: none;
    padding-bottom: 3px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
}

.search-container button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

.search-container button:active {
    transform: scale(0.98);
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.reservation-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.reservation-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reservation-list li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.reservation-link:hover {
    color: #0056b3;
}
